<!-- This is a static file -->
<!DOCTYPE html>
<html>
<head>
<title>Chapter 7 Examples</title>
<meta name="viewport" 
      content="width=device-width, initial-scale=1">	
<title>Footer Example</title> 
<link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
<link rel="stylesheet" 
      href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script type="text/javascript" 
        src="https://code.jquery.com/jquery-2.1.3.min.js">
</script>
<script type="text/javascript" 
        src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js">
</script>
</head>

<body>

<div data-role="page">

	<div data-role="header">
		<h1>JQM Form Controls</h1>
	</div>
	
	<div role="main" class="ui-content">
		<ul data-role="listview">
		<li><a href="test3.html">Basic Grid (test3)</a></li>
		<li><a href="test5.html">Grid with Multiple Rows (test5)</a></li>
		<li><a href="test6.html">Hide/Show Content (test6)</a></li>
		<li><a href="test8.html">Popup Demo (test8)</a></li>
		<li><a href="test_resp_adv_table.html">Responsive Table with Custom Toggles</a></li>
		<li><a href="test_panel_display.html">Panel Display Demo</a></li>
		<li><a href="test_filter.html">Filter Demo</a></li>
		</ul>
	</div>

	<div data-role="footer">
		<h4>Chapter 6</h4>
	</div>
		
</div>

</body>
</html>
